{% extends 'index.html' %}

{% block content %}
<div class="add">
<h2>Create patient record</h2>
<form action='/create' method='POST'>

  <input type="text" name="fname" placeholder="First-Name ">
  <input type="text" name="lname" placeholder="Last-name">
  <input type="date" name="date" placeholder="Date of birth">
  <input type="text" name="phone" placeholder="Phone number">
  <input type="text" name="Address" placeholder="Address">
  <input type="text" name="nxtkin" placeholder="Next of kin">

  <input type="text" name="nxtkinphone" placeholder="Phone number">
   <input type="text" name="relakin" placeholder="Relation to next of kin">
  <input type="text" name="relaAddress" placeholder="Address">
  <input type="text" name="occupation" placeholder="Occupation">
  <input type="text" name="relations" placeholder="Relations">

<div class="radio">
    <input type="radio" id="male" name="gender"><label for="male">Male</label>
    <input type="radio" id="female" name="gender"><label for="female">Female</label>
  </div>
  <input type="submit" value="Register">
</div>

</form>
{% endblock %}

