{% extends 'index.html' %}
{% block content %}
<div class="anteexe">
  <h3>Antenatal Examination</h3>
<form method="post" action="/anteexe">
<input type="text" placeholder="Patient id" name="p_id">
<input placeholder="Height and funds" name="haf" type="text">
<input placeholder="Presentation and lie" name="pal" type="text">
<input placeholder="Relation of P.P to Brim" name="rpp" type="text">
<input placeholder="Feotal heart" name="fh" type="text">
<input placeholder="Urine" name="urine" type="text">
<input placeholder="Weight" name="weight" type="text">
<input placeholder="B.P" name="bp" type="text">
<input placeholder="H.B" name="hb" type="text">
<input placeholder="Oedema" name="oed" type="text">
<input placeholder="Remarks and advice" name="rem" type="text">
<input placeholder="Treatment" name="treat" type="text">
<input placeholder="Next visit" name="nxtv" type="text">
<input type="submit" value="submit" >
</form>
  
</div>



{% endblock %}
