<html>
<head >
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<div class="wrap">
<div class="card">
<h2>Patient Data Management System</h2>
<p>About the Patient Data management system</p>
<hr>
<p>One day I had to rush a close friend to a hospital after he had experienced a seizure, on my getting there the doctor asked a nurse to fetch his card (patient data) before he could attend to him and this took the nurse a while to find because of the amount of files she had to go through, and as time passed my friend still lay unattended. This motivated me to use my knowledge in coding to build a simple, free patient file management system that small clinics and hospitals can easily integrate into their system and access patient data on the go and in real time. -Elvis Chuks -- Developer</p>
<div class="button">
<a href="/login">Login</a>
</div>
</div>
</div>
</body>
</html>
