<html>
<head>
  <title>home page</title>
  <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
  <div class="header">
  <h4 class="logo">Dashboard</h4>

  <div class="header-right">
    <div class="dropdown">
      <button class="dropbtn">Patients</button>
      <div class="dropdown-content">
      <a href="/create">Create Patient Record</a>
      <a href="/ante">Create Ante-natal Record</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">View</button>
      <div class="dropdown-content">
      <a href="/view">View Patient data</a>
      <a href="/viewante">View Antenatal patient data</a>
    </div>
  </div>
  <div class="dropdown">
      <button class="dropbtn">Treatment</button>
      <div class="dropdown-content">

        <a href="/addtreat">Normal patients</a>
        <a href="/anteexe">Antenatal Examination</a>
      </div>
    </div>

  <i>Howdy {{ logg }}</i>
  <a href = '/logout'>Logout</a>
</div>
</div>
<div class="body">
{% block content %}


  {% endblock %}
</div>
</body>
</html>
