{% extends 'index.html' %}
{% block content %}

<div class="adlog">

  <div class="wrap">

<form action="/admin-login" method="POST" id = "fofo" >
   <input placeholder="Admin_id" type="text" name="regno"><br><br>
   <input placeholder="Password" type = "password" name="password"><br><br>
  <input type="submit" value="Admin-login">
</form>
</div>
</div>


<div class="norlog">
  <div class="wrap">

<form action="/login" method="POST">
<input placeholder="User_id" type="text" name="regno"><br><br>
<input placeholder="Password" type="password" name="password"><br><br>
  <input type="submit" value="Staff-login">
</form>
</div>
</div>
<!--style=" margin-top:-18%; margin-left:8%;"-->
{% endblock %}
