{% extends 'index.html' %}
{% block content %}
<h4><a href="/view">View patient data</a></h4>
<h4><a href="/viewante">View antenatal patient </a></h4>
<div class="view-form">
<form action='/viewante' method='POST' >
  <p>Patient id<input type='text' name="p_id"></p>
  <input type="submit" value='search'>
</form>
</div>
<div class="view-data">
  <div class="vv">
  	<h4>antenatal record</h4>
<p>Name : {{ pat }} {{ lname }}</p>
<p>Age : {{ age }}</p>
<p>Religion : {{ religion }}</p>
<p>Address : {{ addy }}</p>
<p>Occupation : {{ occu }}</p>
<p>Marital status : {{ marstat }}</p>
<p>Husbands name: {{ husnme }}</p>
<p>Husbands occupation : {{ husocc }}</p>
<p>Home town : {{ hmtwn }}</p>



</div>
</div>
{% endblock %}
