{% extends 'index.html' %}
{% block content %}
<h4><a href="/view">View patient data</a></h4>
<h4><a href="/viewante">View antenatal patient </a></h4>
<div class="view-form">
<form action='/viewante' method='POST' >
  <p>Patient id<input type='text' name="p_id"></p>
  <input type="submit" value='search'>
</form>
</div>
<div class="view-data">
  <div class="vv">
  	<h4>antenatal record</h4>
<p>Name : {{ pat }} {{ lname }}</p>
<p>Age : {{ age }}</p>
<p>Religion : {{ religion }}</p>
<p>Address : {{ addy }}</p>
<p>Occupation : {{ occu }}</p>
<p>Marital status : {{ marstat }}</p>
<p>Husbands name: {{ husnme }}</p>
<p>Husbands occupation : {{ husocc }}</p>
<p>Home town : {{ hmtwn }}</p>
<h2>Antenatal examination</h2>
<table style="">
  <tr>
    <th>Patient ID</th>
    <th>Height and funds</th>
    <th>Presentation and lie</th>
    <th>Relation of P.P to Brim</th>
    <th>Foetal heart</th>
    <th>Urine</th>
    <th>Weight</th>
    <th>B.p</th>
    <th>H.b</th>
    <th>Oedema</th>
    <th>Remarks and advice</th>
    <th>Treatment</th>
    <th>Next visit</th>
  </tr>

  {%for doc in y %}
    <tr>{{ doc['date']}}</tr>
  {% endfor %}
  {{ y }}
</table>

</div>
</div>
{% endblock %}
