{% extends 'index.html' %}
{% block content %}
<div class="vieww">
<div class="view-form">
	
<form action='/view' method='POST' >
	<h3>View patient data</h3>
  <input type='text' placeholder="Patient id" name="p_id">
  <input type="submit" value='search'>
</form>
</div>
<div class="view-data">
 <div class="vv">
<p><strong>Name</strong> : {{ pat }} {{ lname }}</p>
<p><strong>Date of birth</strong> : {{ dob }} </p>
<p><strong>Phone number</strong> : {{ phone }}</p>
<p><strong>Address</strong> : {{ addy }}</p>
<p><strong>Next of kin</strong> : {{ nxt}}</p>
<p><strong>Phone number</strong> : {{ nxtno }}</p>
<p><strong>Relationship</strong> : {{ relakin }}</p>
<p><strong>Address</strong> : {{ kinaddy }}</p>
<p><strong>Occupation</strong> : {{ occ }}</p>
<p><strong>Relations</strong> : {{ rela }}</p>
<p><strong>Treatments</strong> :</p>
{% for x in tre %}
{{ x }}</br>
{% endfor %}

</div>
</div>
</div>
{% endblock %}
